.about-container {
  :host ::ng-deep {
    .p-card {
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      border-radius: var(--radius);
    }

    .p-card-header {
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
    }
  }
}

.mb-4 {
  margin-bottom: 1rem;
}
