.about-container {
  :host ::ng-deep {
    .p-card {
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      border-radius: 1.25rem;
    }

    .p-card-header {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
    }
  }
}

.mb-4 {
  margin-bottom: 1rem;
}
